/*Limpara formataçoes padrao*/
* {
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, san-serif;
	background: #fafafa;
}

#navegacao{
	font-size: 18px;
	font-family: "Trebuchet MS", Helvetica, san-serif;
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;

}

#logo{
	float: left;
	padding: 10px 0;
}

#menu{
	float: right;
	padding: 10px;
}

#area{
	width: 960px;
	margin: 0 auto;
}

#area-prin{
	width: 960px;
	height: auto;
	margin: 55px auto 10px auto;
}

#sound_banner{
	width: 478px;
	height: 640px;
	float: left;
	padding: 0;
	border: 1px solid #d8d8d8;
	opacity: 2.5;
}

#scout_banner{
	width: 478px;
	height: 640px;
	float: right;
	padding: 0;
	border: 1px solid #d8d8d8;
	opacity: 2.5;
}

/*Menu*/

a{
	text-decoration: none;
	padding: 5px 30px;
}

	/*lINKS NÃO VISITADOS*/

	a:link{
		color:#838383;
	}

	/*lINKS VISITADOS*/

	a:visited{
		color:#838383;
	}

	/*lINKS HOVER, PASSA O CURSOR SOBRE O LINK*/

	a:hover{
		color:#d1d1d1; /*BRANCO*/
	}

	/*lINKS ATIVO, QUANDO CLICADO*/

	a:active{
		color:#d1d1d1; /*VERDE CLARO*/
	}

	#titulo_banner{
		color: #fff;
		position: absolute;
		top: 1000;
		left: 50%;
		  color: #fff;
		  font-family: "Myriad Pro";
		  z-index: 10;
	}