<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>+Bola</title>
    <link rel="icon" href="imagens/favicon.png">


    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/betano.css" rel="stylesheet">
    <script src="js/scripts.js"></script> 

    <style>

.question{
	font-weight: 600;
  font-size: 20px;

}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
  font-weight: 100;
  font-size: 14px;
}

#submit{color:white; margin:45% 0px;top:40% !important;width: 200px;height: 100px;
  
}

    </style>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <nav class="navbar navbar-fixed-top navbar-inverse navbar-transparente">
      <div class="container">
        
        <!-- header -->
        <div class="navbar-header">
          
          <!-- botao toggle -->
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#barra-navegacao">
            <span class="sr-only">alternar navegação</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="/" class="navbar-brand">
            <span class="img-logo" style="color:rgb(255, 255, 255); font-size: 20px; position:relative; top: 20%;">SoundScout</span>
          </a>

        </div>

        <!-- navbar -->
        <div class="collapse navbar-collapse" id="barra-navegacao">

          <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/revista_scout">Revista</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger"  href="/galeria_scout">Galeria</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger"  href="/equipa_scout">Equipa</a></li>
          </ul>
        </div>
      </div><!-- /container -->
    </nav><!-- /nav -->

    <div class="capa">
      <div class="texto-capa">
        <h1>Futebol para todos</h1>
        <a href="#servicos" class="btn btn-custom btn-roxo btn-lg js-scroll-trigger">Os Momentos que são memórias</a>
        <a href="#album" class="btn btn-custom btn-branco btn-lg js-scroll-trigger">Vai um quiz?</a>
      </div>
    </div>

    <!-- Conteudos -->
    <section id="servicos">
      <div class="container" >
        <br><br>
        <div class="row">

          <!-- albuns -->
          <div class="col-md-6">
              <div style="height: 100%;"><iframe class="responsive-iframe" width="100%" height="100%" id="link1"  src="https://www.youtube.com/embed/h390K9Fkh8g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>

     
          <!-- servicos -->
          <div class="col-md-6">
            <h3 id="jogo1">Milan x Liverpool – Final da Champions de 2005</h3>
            <span id="titulo1" style="font-weight: bold;">O Milagre de Istambul!</span><br><br>
            <p id="texto1">

              Assim ficou conhecido o jogo entre Liverpool e Milan pela final da Liga dos Campeões de 2005, em Istambul, palco também da próxima final da competição.
     
              Você acreditaria que seu time conseguiria reagir depois de sair do 1º tempo tomando um baile e perdendo de 3 a 0 em uma final? Pois o Liverpool conseguiu!⠀
     
              Lembre como tudo aconteceu nos melhores momentos da partida:</p>
          </div>
        </div>

<br><br>
        <div class="row">

          <!-- albuns -->
          <div class="col-md-6">
              <div style="height: 100%;"><iframe class="responsive-iframe" width="100%" height="100%" id="link2" src="https://www.youtube.com/embed/BYwlOX2DGeI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>

     
          <!-- servicos -->
          <div class="col-md-6">
            <h3 id="jogo2">Milan x Liverpool – Final da Champions de 2005</h3>
            <span id="titulo2" style="font-weight: bold;">O Milagre de Istambul!</span><br><br>
            <p id="texto2">

              Assim ficou conhecido o jogo entre Liverpool e Milan pela final da Liga dos Campeões de 2005, em Istambul, palco também da próxima final da competição.
     
              Você acreditaria que seu time conseguiria reagir depois de sair do 1º tempo tomando um baile e perdendo de 3 a 0 em uma final? Pois o Liverpool conseguiu!⠀
     
              Lembre como tudo aconteceu nos melhores momentos da partida:</p>
          </div>
        </div>

        <br><br>
        <div class="row">

          <!-- albuns -->
          <div class="col-md-6">
              <div style="height: 100%;"><iframe class="responsive-iframe" width="100%" height="100%" id="link3"  src="https://www.youtube.com/embed/brYCsAe__EM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>

     
          <!-- servicos -->
          <div class="col-md-6">
          <h3 id="jogo3">Milan x Liverpool – Final da Champions de 2005</h3>
          <span id="titulo3" style="font-weight: bold;">O Milagre de Istambul!</span><br><br>
          <p id="texto3">

            Assim ficou conhecido o jogo entre Liverpool e Milan pela final da Liga dos Campeões de 2005, em Istambul, palco também da próxima final da competição.
   
            Você acreditaria que seu time conseguiria reagir depois de sair do 1º tempo tomando um baile e perdendo de 3 a 0 em uma final? Pois o Liverpool conseguiu!⠀
   
            Lembre como tudo aconteceu nos melhores momentos da partida:</p>
        </div>
      </div>
        <br><br>


        <div class="row">

          <!-- albuns -->
          <div class="col-md-6">
              <div style="height: 100%;"><iframe class="responsive-iframe" width="100%" height="100%"  id="link4" src="https://www.youtube.com/embed/qpG-IhVwzFU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>

     
          <!-- servicos -->
        <div class="col-md-6">
          <h3 id="jogo4">Milan x Liverpool – Final da Champions de 2005</h3>
          <span id="titulo4" style="font-weight: bold;">O Milagre de Istambul!</span><br><br>
          <p id="texto4">

            Assim ficou conhecido o jogo entre Liverpool e Milan pela final da Liga dos Campeões de 2005, em Istambul, palco também da próxima final da competição.
   
            Você acreditaria que seu time conseguiria reagir depois de sair do 1º tempo tomando um baile e perdendo de 3 a 0 em uma final? Pois o Liverpool conseguiu!⠀
   
            Lembre como tudo aconteceu nos melhores momentos da partida:</p>
        </div>
      </div>
        </div>



        <br><br>
    
 

        </div>
      </div>
    </section>        
    


     <section id="recursos">
      <div class="container">
        <div class="row">
          
              <div class="col-md-12">
                <img src="imagens/" class="img-responsive">
              </div>

            </div><!-- /row -->

          </div>

        </div>
      </div>
    </section>

    <!-- Rodape -->
    <section id="album">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12">
          <h1>QUIZ PREMIER LEAGUE&nbsp<span class="far fa-futbol"></span></h1>
        </div>
        </div>
        <div class="row">
          <div class="col-xl-10 col-lg-10" id="quiz"></div>
          <div style="z-index: -100; top:0; position: absolute;" id="results"></div>
        

        <div class="col-xl-2 col-lg-2">
          <div class="responsive">
            <div class="gallery">
                <img id="10pt" style="filter:brightness(50%);"  src="imagens/green.jpg"  width="200" height="200">
            </div>
          </div>
          <div class="responsive">
            <div class="gallery">
                <img id="9pt" style="filter:brightness(50%);"  src="imagens/yellow.jpg"  width="200" height="200">
            </div>
          </div>
          <div class="responsive">
            <div class="gallery">
                <img id="6pt" style="filter:brightness(50%);"  src="imagens/orange.jpg"  width="200" height="200">
            </div>
          </div>
          <div class="responsive">
            <div class="gallery">
                <img id="3pt" style="filter:brightness(50%);"  src="imagens/red.jpg"  width="200" height="200">
            </div>
          </div>
          
          
         
          
          
        <button class="btn btn-custom btn-roxo btn-lg" id="submit">Submit Quiz</button>
      </div>
      </div>
    </div>

        
      
        


<script>


(function(){
  function buildQuiz(){
   
    // variable to store the HTML output
    const output = [];

    // for each question...
    myQuestions.forEach(
      (currentQuestion, questionNumber) => {

        // variable to store the list of possible answers
        const answers = [];

        // and for each available answer...
        for(letter in currentQuestion.answers){

          // ...add an HTML radio button
          answers.push(
            `<label>
              <input type="radio" name="question${questionNumber}" value="${letter}">
              ${letter} :
              ${currentQuestion.answers[letter]}
            </label>`
          );
        }

        // add this question and its answers to the output
        output.push(
          `<div class="col-xl-5 col-lg-5"><div class="question" > ${currentQuestion.question} </div>
          <div class="answers"> ${answers.join('')} </div></div>`
        );
      }
    );

    // finally combine our output list into one string of HTML and put it on the page
    quizContainer.innerHTML = output.join('');
  }

  function showResults(){

    // gather answer containers from our quiz
    const answerContainers = quizContainer.querySelectorAll('.answers');

    // keep track of user's answers
    let numCorrect = 0;

    // for each question...
    myQuestions.forEach( (currentQuestion, questionNumber) => {

      // find selected answer
      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;

      // if answer is correct
      if(userAnswer === currentQuestion.correctAnswer){
        // add to the number of correct answers
        numCorrect++;

        // color the answers green
        answerContainers[questionNumber].style.color = 'lightgreen';
      }
      // if answer is wrong or blank
      else{
        // color the answers red
        answerContainers[questionNumber].style.color = 'red';
      }
    });

    // show number of correct answers out of total
    var y = `${numCorrect}`;
    var x = Number(y);
    console.log(y);
    console.log(x);

    if (x<4){
  document.getElementById("3pt").style.filter = "brightness(100%)"
  document.getElementById("6pt").style.filter = "brightness(50%)"
  document.getElementById("9pt").style.filter = "brightness(50%)"
  document.getElementById("10pt").style.filter = "brightness(50%)"
}
if (x<7 && x>3) {
  document.getElementById("3pt").style.filter = "brightness(50%)"
  document.getElementById("6pt").style.filter = "brightness(100%)"
  document.getElementById("9pt").style.filter = "brightness(50%)"
  document.getElementById("10pt").style.filter = "brightness(50%)"
}
if (x<10 && x>6) {
  document.getElementById("3pt").style.filter = "brightness(50%)"
  document.getElementById("6pt").style.filter = "brightness(50%)"
  document.getElementById("9pt").style.filter = "brightness(100%)"
  document.getElementById("10pt").style.filter = "brightness(50%)"
}
if (x==10) {
  document.getElementById("3pt").style.filter = "brightness(50%)"
  document.getElementById("6pt").style.filter = "brightness(50%)"
  document.getElementById("9pt").style.filter = "brightness(50%)"
  document.getElementById("10pt").style.filter = "brightness(100%)"
}
  }

  const quizContainer = document.getElementById('quiz');
  const resultsContainer = document.getElementById('results');
  const submitButton = document.getElementById('submit');
  q1="";
  a1="";
  b1="";
  c1="";
  d1="";
  r1="";


  q2="";
  a2="";
  b2="";
  c2="";
  d2="";
  r2="";

  q3="";
  a3="";
  b3="";
  c3="";
  d3="";
  r3="";


  q4="";
  a4="";
  b4="";
  c4="";
  d4="";
  r4="";

  q5="";
  a5="";
  b5="";
  c5="";
  d5="";
  r5="";


  q6="";
  a6="";
  b6="";
  c6="";
  d6="";
  r6="";


  q7="";
  a7="";
  b7="";
  c7="";
  d7="";
  r7="";


  q8="";
  a8="";
  b8="";
  c8="";
  d8="";
  r8="";


  q9="";
  a9="";
  b9="";
  c9="";
  d9="";
  r9="";
  const myQuestions = [
    {
      question: q1, //+30 //-65
      answers: {
        a: a1,
        b: b1,
        c: c1,
        d: d1
      },
      correctAnswer: r1
    },
    {
      question: q2,
      answers: {
        a: a2,
        b: b2,
        c: c2,
        d: d2
      },
      correctAnswer: r2
    },
    {
      question: q3,
      answers: {
        a: a3,
        b: b3,
        c: c3,
        d: d3
      },
      correctAnswer: r3
    },
    {
      question: q4,
      answers: {
        a: a4,
        b: b4,
        c: c4,
        d: d4
      },
      correctAnswer: r4
    },
    {
      question: q5,
      answers: {
        a: a5,
        b: b5,
        c: c5,
        d: d5
      },
      correctAnswer: r5
    },
    {
      question: q6, //65
      answers: {
        a: a6,
        b: b6,
        c: c6,
        d: d6
      },
      correctAnswer: r6
    },
    {
      question: q7, //65
      answers: {
        a: a7,
        b: b7,
        c: c7,
        d: d7
      },
      correctAnswer: r7
    },
    {
      question: q8, //65
      answers: {
        a: a8,
        b: b8,
        c: c8,
        d: d8
      },
      correctAnswer: r8
    },
    {
      question: q9, //65
      answers: {
        a: a9,
        b: b9,
        c: c9,
        d: d9
      },
      correctAnswer: r9
    },
    {
      question: "Até à 11ª jornada, quantos jogadores portugueses já atuaram esta ", //65
      answers: {
        a: "17",
        b: "19",
        c: "21",
        d: "23",
      },
      correctAnswer: "b"
    }
    
  ];

  // Kick things off
  buildQuiz();

  // Event listeners
  submitButton.addEventListener('click', showResults);
})();

</script>


              
          </div>
        </div><!-- /row -->
      </div>
    </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    
  </body>
</html>